body{
    margin: 0;
    padding: 0;
    position: relative;
    background: #fff;
}
.container{
    margin-top: 4px;
    margin-bottom: 2px;
    /* margin: auto;
    align-self: center; */
}
.line1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img1{
    display: flex;
    flex: 0;
}
.tags{
    /* display: flex;
    flex: 1; */
    /* margin-left: 14%; */
    /* justify-content: space-between; */
}
.tags>a{
    color: rgb(23, 24, 24);
    text-decoration: none;
    /* justify-content: space-between; */
}
.container2{
    margin: auto;
    text-align: center;
}
.container3{
    margin: auto;
    text-align: center;
}
.fylo{
    color: rgb(10, 163, 44);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container4{
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 8%; */
    width: 300px;
    height: auto;
    margin: 5% 10% 5% 10%;
    padding: 10px;
}
.profile{
    /* margin-top: 6%;
    margin-bottom: 3%; */
    display: flex;
    flex-direction: row;
}
.img4{
    border-radius: 50%;
    /* height: 45px;
    border: 2px solid rgb(35, 36, 34);
    padding: 10px; 
    width: 30px;
    height: 30px;    */
}
.pname{
    font-weight: bold;
    letter-spacing: -0.05em;
    font-size: 15px; 
    color: rgb(46, 44, 44); 
}
.container5{
    margin: auto;
    text-align: center;
    background-color: rgb(106, 110, 173); 
}
.content{
    margin-top: 20%;
    /* margin-bottom: 20%; */
    color: #fff;
}
.data4{
    margin-top: 15%;
    /* margin-bottom: 5%; */
}
.container6{
    background-color: rgb(6, 15, 134); 
}
.items{
    margin-left: 20%;
    color: #fff;
}
.ref1{
    margin-left: 20%;
    color: #fff;
}
.ref2{
    margin-left: 20%;
    color: #fff;
}
.icons{
    margin-left: 30%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border: 50%;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #94527e;
    color: white;
}  
.fa {
    padding: 10px;
    /* font-size: 20px;
    width: 25px; */
    text-align: center;
    text-decoration: none;
    /*margin: 4px 1px; */
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    /* width: 75%; */
  }
    
/* @media screen and (max-width: 640px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
} */
/* @media(min-width:700px){
    .container{
        width: 60%;
        margin-left: 2px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}  
*/

@media not screen and (max-width: 1200px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
    .line1{
        margin-top: 7%;
    }
    .tags{
        margin-left: 72%;
        width: 20%;
    }
    .container2{
        text-align: left;
    }
    .img2{
        margin-left: 60%;
        margin-top: 10%;
    }
    .data1{
        margin-right: 50%;
        margin-top: -19%;
        align-self: 0;
    }
    .container3{
        text-align: left;
    }
    .container4{
        margin-left: 1%;
        width: 80%;
    }
    .container5{
        text-align: left;
    }
    .img3{
        margin-left: 60%;
        margin-top: 20%;
    }
    .data2{
        margin-right: 50%;
        margin-top: -30%; 
    }
    .data3{
        margin-right: 50%;
    }
    .container5{
        margin-top: -15%;
    }
    .data4{
        margin-right: 60%;
        margin-left: 1%;
        margin-left: 10%;
    }
    .kyle{
        margin-left: 53%;
        margin-top: -8%;
    }
    .container6{
        padding-bottom: 10%;
    }
    .items{
        margin-left: 10%;
    }
    .ref1{
        margin-left: 37%;
        margin-top: -13%;
    }
    .ref2{
        margin-left: 50%;
        margin-top: -13%;
    }
    .icons{
        margin-left: 70%;
        margin-top:-7%;
    } 
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 35%;
    }
} 